<div class="chat-box w-100 d-flex flex-column-reverse">
  <div *ngFor="let message of messages" class="w-100">
    <div class="message-box w-100">
      [{{ message.date | date:"HH:mm:ss"}}] &nbsp;
      <span class="font-weight-bold align-top" [ngStyle]="{color: nameToColor[message.pseudo]}">{{ message.pseudo }}</span> &nbsp;:
      <span [innerHtml]="message.content | sanitizeHtml "></span>
    </div>
  </div>
</div>
