.chat-box {
  height: 300px;
  border: solid #ccd0d1 1px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #aaa;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  padding-bottom: 8px;
}

.message-box {
  margin-top: 8px;
  font-size: 1em;
}
