<div class="container-fluid">

  <div class="row d-flex flex-column-reverse flex-md-row">

    <div class="col-md-4">
      <div class="row w-100">
        <app-producers class="w-100"></app-producers>
      </div>
    </div>

    <div class="col-md-4">

      <div class="d-flex justify-content-center mt-3">
        <h1 class="game-name">{{ parameters.gameName }}</h1>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <app-count></app-count>
      </div>

      <div class="d-flex justify-content-center mt-5 w-100">
        <app-chat class="w-100"></app-chat>
      </div>

      <div class="d-flex justify-content-center mt-5 mb-5">
        <app-ban-button></app-ban-button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="grid">
        <app-upgrades></app-upgrades>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-end footer mr-3">
  <a href="#" (click)="displaySuccess($event)" class="btn-param mr-3">
    <i class="fas fa-trophy fa-lg"></i>
  </a>
  <a href="#" (click)="displayPatchNote($event)" class="btn-param mr-3">
    <i class="fas fa-sticky-note fa-lg"></i>
  </a>
  <a href="#" (click)="displayParameters($event)" class="btn-param">
    <i class="fas fa-cog fa-lg"></i>
  </a>
</div>

<div class="d-flex justify-content-end footer mr-3">
  {{ version }}
</div>


<app-parameters *ngIf="showParameters" (closeParameters)="hideParameters()">
</app-parameters>

<app-success *ngIf="showSuccess" (closeSuccess)="hideSuccess()">
</app-success>

<app-patch-note *ngIf="showPatchNote" (closePatchNote)="hidePatchNote()">
</app-patch-note>
