.square-container {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 3px;
}

.square-container:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.btn-param {
  color: #c0392b;
}

.btn-param:hover {
  color: #6d231c;
}

.game-name {
  font-size: 1.5em;
}
