<div class="modal" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paramètres</h5>
        <button type="button" class="close" (click)="onCloseParameters()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Nombre total de clicks : {{ counts.totalClicks }}</p>
        <p>Production totale : {{ counts.totalCount.round(0, roundingMode).toString() | bigNumber}}</p>
        <p>Production totale des clics : {{ counts.totalCountClick.round(0, roundingMode).toString() | bigNumber }}
          ({{ counts.totalCountClick.div(counts.totalCount).mul(100).round(0, roundingMode).toString() }}% de la production
          totale)</p>
        <p>Par clic : {{ parameters.perClick.toFixed() | bigNumber }}</p>
        <p *ngIf="parameters.changeGameName">
          Nom de la partie :
          <input type="text" class="form-control" [ngModel]="parameters.gameName"
                 (ngModelChange)="ngModelGameNameChange($event)">
        </p>
      </div>
    </div>
  </div>
</div>
