<div class="modal" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes de patch : </h5>
        <button type="button" class="close" (click)="onClosePatchNote()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>V 1.1.1</h6>
        <ul>
          <li>Plus de couleurs dans les pseudos des messages, judicieusement choisis par l'ami Mambodo</li>
          <li>L'amélioration café sur les modérateurs est disponible (on reviendra pas dessus hein !)</li>
          <li>Ajout du % de la production totale pour chaque modérateur (dans les tooltips)</li>
          <li>Ajout d'une tooltip sur le bouton max permettant de savoir à l'avance le nombre
            de producteurs qu'il est possible d'acheter</li>
          <li>Les améliorations concernant le clic sont enfin disponibles ! Elles ne sont pour l'instant disponibles qu'en
          valeur flat (2, 4, 8, etc.), pas encore en % de la production (ça viendra... peut-êre)</li>
          <li>Une nouvelle valeur est disponible dans les paramètres : la production totale des clics.</li>
          <li>Tentative de début d'équilibrage des améliorations du bot</li>
        </ul>
        <hr>
        <h6>V 1.1.0</h6>
        <ul>
          <li>Tentative de début d'équilibrage des améliorations</li>
          <li>Level up des producteurs quand on arrive à 150</li>
          <li>Les messages du chat peuvent avoir un formattage plus poussé que simplement du texte
            (italique, gras, image, etc.)</li>
          <li>Ajout d'un bouton pour acheter le maximum de producteurs en fonction du compteur actuel
          (ça a été facile, on a torché les maths en 12 secondes hein)</li>
          <li>Correction du streamer qui s'affichait en tant que punisher</li>
        </ul>
      </div>
    </div>
  </div>
</div>
