.popup {
  position: absolute;
  z-index: 100;
  background: rgba(139, 139, 139, 0.8);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  width: auto;
  max-width: 300px;
  overflow-wrap: normal;
}
