<div>
  <p>{{ upgrade.name | translate }}</p>
  <p>{{ upgrade.description | translate }}</p>

  <ng-container *ngIf="upgrade.scope == upgradeScope.Producer">

    <ng-container *ngIf="upgrade.type == upgradeType.IncreaseFlat">
      <p>Augmente la production de chaque {{ producers[upgrade.producerId].name | lowercase }}
        de {{ upgrade.increase.mul(100).toFixed(0)}}%</p>
    </ng-container>

    <ng-container *ngIf="upgrade.type == upgradeType.DecreaseCost">
      <p>Diminue le coût de chaque {{ producers[upgrade.producerId].name | lowercase }}
        de {{ (one.minus(upgrade.increase)).mul(100).toFixed(0) }}%</p>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="upgrade.scope == upgradeScope.Click">

    <ng-container *ngIf="upgrade.type == upgradeType.IncreaseFlat">
      <p>La valeur du clic est multiplié par {{ upgrade.increase.toFixed(0) }}</p>
    </ng-container>

  </ng-container>

  <p class="font-weight-bold">{{upgrade.price | bigNumber}} bans</p>
</div>
