<ng-container *ngIf="counts != undefined">
<div *ngFor="let producer of producers; let i = index" class="w-100">
  <app-producer
    *ngIf="i == 0 || producers[i-1].number > 0"
    class="w-100"
    [producer]="producer"
    [count]="counts.currentCount"
  >
  </app-producer>
</div>
</ng-container>
