.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid > * {
  width: 100%;
}
.grid > [style^='--aspect-ratio']::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

