<div class="grid">
  <ng-container *ngFor="let upgrade of upgrades">
    <app-upgrade
      [upgrade]="upgrade"
      *ngIf="isVisible(upgrade)"
      class="d-flex justify-content-center"
      style="--aspect-ratio: 1/1"
    >
    </app-upgrade>
  </ng-container>
</div>
