<div
  *ngIf="upgrade != null"
  class="w-100 d-flex justify-content-center upgrade align-items-center"
  (click)="buy()"
  placement="auto"
  [ngbTooltip]="tooltip"
  container="body"
>
  {{ upgrade.name | translate }}
</div>


<ng-template #tooltip>
  <app-upgrade-tooltip-content [upgrade]="upgrade">
  </app-upgrade-tooltip-content>
</ng-template>
