<div>
  <a
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start w-100"
    [class.disabled]="count.lt(producer.price)"
    (click)="buy($event)"
    placement="auto"
    [ngbTooltip]="tooltip"
    container="body"
    [ngStyle]="{'background-color' : canLevelUp}"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ producer.name }}</h5>
      <small>{{ producer.price.round(0, roundingUp).toString() | bigNumber }} bans</small>
    </div>
    <div class="d-flex justify-content-between">
      <p class="mb-1">{{ producer.number }}</p>
      <a
        class="max-button"
        href="#"
        (click)="buyMax($event)"
        [ngbTooltip]="computeMaxProducers()"
      >
        max
      </a>
    </div>
  </a>

</div>

<ng-template #tooltip>
  <p class="font-weight-bold">{{this.producer.description}}</p>
  <p>Production actuelle : {{ this.producer.production.mul(this.producer.number).toFixed() | bigNumber }}
    ban{{ producer.production.mul(this.producer.number).gt(2) ? 's' : '' }}/s</p>
  <p>Par {{ this.producer.name }} : {{ this.producer.production.toFixed() }}
    ban{{ this.producer.production.gt(2) ? 's' : '' }}/s</p>
  <p *ngIf="!parametersStore.value.perSecond.eq(0)">
    {{ producer.production.mul(this.producer.number).div(parametersStore.value.perSecond).mul(100).toFixed(0) |
    bigNumber }}
    % de la production totale.
  </p>
  <p *ngIf="canLevelUp != ''">Le prochaine achat de {{ this.producer.name }} les réinitialisera.<br>
    La production sera alors multipliée par {{ multiplyFactor }}</p>
</ng-template>
