<span class="count row">{{ counts.currentCount.round(0, roundingMode).toString() | bigNumber }} Bans</span>
<span class="production row">{{ parameters.perSecond.toString() | bigNumber }} par seconde</span>
